fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-groq
langchain-chroma
sentence-transformers
youtube-transcript-api
tiktoken
yt-dlp
pydub
groq
langchain-text-splitters
langgraph
huggingface-hub
requests
pydantic