fastapi
uvicorn
python-dotenv
pydantic
python-multipart
yt-dlp
pydub
groq
langchain
langchain-groq
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
chromadb
sentence-transformers
huggingface-hub
typing-extensions